<!DOCTYPE html>
<html>
<head>
    <title>Fish Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="header">
        <h1>Baby Bear's Fish Tracker</h1>
        <p>Very early beta phase for you to track ur fish and me to get better at coding</p>
    </div>

    <div class="navigation">
        <a href="/log" class="nav-card">
            <span class="icon">🎣</span>
            <h2>Log a catch!</h2>
            <p>This is where you can log the fish you catch, and the conditions you caught it under</p>
        </a>

        <a href="/catches" class="nav-card">
            <span class="icon">🐟</span>
            <h2>My Catches</h2>
            <p>This is where you can view and manage all the fish you have logged</p>
        </a>

        <a href="/statistics" class="nav-card">
            <span class="icon">📊</span>
            <h2>Statistics</h2>
            <p>View your fishing statistics</p>
            <p>my favourite page hehe</p>
        </a>
    </div>

</body>
</html>